.responsive_image {
    width: 100%;
    height: auto;
}

.image_boat {
    width: 500px;
}
.image_boat_mobile {
    width: 300px;
}

.image_boat_big {
    width: 800px;
}
.image_boat_big_mobile {
    width: 400px;
}

.image_paddle {
}


.add_padding {
    padding: 30px;
}