

@media (max-width: 800px) {
  .headerMenu{
    display: none;
  }
  
}

@media(min-width: 800px) {
  .menuIcon {
    display:none;
  }
}

.appHeader {
  background: white;
  /*height: 390px;*/


}



.appHeader__logo {
  width: 120px;
  height: 240px;
  background: blue;
  margin: 5px 5px 5px 0;
  float: left;
}
.appHeader__logo_right {

  height: 270px;
  background: blue;
  margin: 8px 8px 8px 0;
  float: right;
}

.appHeader__logo_right_mobile {

  height: 115px;
  background: blue;
  margin: 8px 8px 8px 0;
  float: right;
}


.menu {
  height: 80px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}






